body {
    background: #e8eaeb;
    color: #545050 !important;
    height: 100% !important;
}

.gradient-custom {
    background: #e8eaeb;
}

.intro {
    height: 100%;
    padding-top: 5rem;
}

.logo-inicio {
    width: 300px;
}

.bi-laptop {
    font-size: 19rem;
}

.boton {
    background: #e6717c;
    color: #fff;
    border: none;
    transition: .3s;
}

.boton:hover {
    background: #ea5867;    
}

.link-regresar {
    text-decoration: none;
    color: #545050;
    transition: .2s;
}

.link-regresar:hover {
    font-size: 1.1rem;
    color: #e6717c;
}

@media (min-height: 300px) and (min-height: 450px) {
    .intro {
        height: auto;
    }
}

@media (max-width: 991px) {
    .bi-laptop {
        width: 200px;
        height: 200px;
    }
}