.form-usuarioCrear {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.btn-crearUsuario {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.btn-formUsuario {
    margin-bottom: 30px;
    width: 200px;
    height: 60px;
    border: none;
}

.btn-formUsuario:hover {
    background: #787d8d !important;
}

#btn-crear {
    background: #e45d99;
}

#btn-cancelar {
    background: #7b74ec;    
}


@media (max-width: 820px) {

    .board { 
        width: 90%;
    }

    .form-usuarioCrear {
        flex-direction: column;
        justify-content: space-between;
    }

    .btn-crearUsuario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto !important;
    }

    .btn-crear {
        margin: 10px !important;
    }

}

@media (max-width: 477px) {

    .board {
        padding: 10px;
    }

    .form-usuarioCrear {
        flex-direction: column;
    }

    .btn-crearUsuario {
        width: 100%;
    }

}

